*,
*:before,
*:after { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

button,
input[type=submit],
input[type=button] {
    background-color: #d1d1e9;
    border: 1px solid black;
    padding: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    padding: 10px;
}

header p {
    font-size: 1.5rem;
    font-weight: bold;
}

.add-book-button {
    display: block;
    padding: 10px;
}

form {
    display: none;

    padding: 10px;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.form-row > label {
    flex: 1;
}

.form-row > input {
    flex: 3;
}

input[type=submit] {
    padding-right: 5px;
}

input[type=button] {
    margin-left: 5px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
    padding: 10px 10px 20px 10px;
    margin: 10px;
}

.book-image {
    flex: 1;
    height: 100px;
    background-image: url(./images/cover.jpeg); 
    background-repeat:no-repeat;
    background-size:contain;
    background-position: top center;
    margin-right: 5px;
}

.text-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.text-paragraph {
    padding: 0px 5px 10px 5px;
    margin: 0;
}

.text-paragraph:first-child {
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
}


/*

*/